<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- API routes -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <!-- Static files -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^(css|js|images|fonts|favicon.ico)" />
          <action type="Rewrite" url="frontend/{R:1}" />
        </rule>
        
        <!-- SPA routing -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="frontend/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration> 